.main-container {
    -fx-background-color: #637081;
}

.Button {
    -fx-background-color: #536b78;
}

.right-panel {
    -fx-background-color: #7C98B3;
}

.panel-text {
    -fx-font-size: 24px;
    -fx-font-family: "Arial";
    -fx-text-alignment: center;
}
