.main-container {
    -fx-background-color: white;
}

.left-panel {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-width: 600;
}

.right-panel-top {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-height: 150;
}

.right-panel-bottom {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-height: 150;
}

.panel-text {
    -fx-font-size: 24px;
    -fx-font-family: "Arial";
    -fx-text-alignment: center;
}
